/* General style */
html{
  font-size:16px;
}

body{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

p{
  line-height: 1.2;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  font-weight: bold;
}

p,a,span{
  font-size:1.125rem;
}

h1{
  font-size: 3.5rem;
  font-family: 'Acme', sans-serif;
}

h2{
  font-size: 2.4rem;
  font-family: 'Acme', sans-serif;
}

h3{
  font-size:1.5rem;
  font-family: 'Acme', sans-serif;
}

.center{
  text-align: center;
  padding-top: 2rem;
}

.menuMobile{
  display: none;
}

.showElementMoblie {
  display: none;
}

/* Header */
header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height:4rem;
  background-color:white;
  position: fixed;
  top:0;
  z-index: 2;
  width: 100%;
}

header span{
  font-weight: bold;
  font-size: 1.7rem;
}

.logo span:nth-child(2){
  color:rgb(0,0,150);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.logo span:last-child{
  color:rgb(255,0,0);
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue;
}

header .logo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 2.5rem;
  height:2rem;
}

header .logo img{
  margin-right:0.2rem;
}

header a{
  color: white;
  font-weight: bold;
}

header li{
  display: inline-block;
  margin:0 0.5rem;
  width: 8rem;
  background-color: rgb(0, 0, 150);
  padding: 0.7rem;
  border-radius: 40px;
  text-align: center;
  transition: all 0.1s;
}

header li:hover{
  box-shadow:0 0 20px red, 0 0 5px darkblue;
}

header li:last-child{
  margin-right: 2.5rem;
}

/* Responsive Header up to 960px */
@media only screen and (max-width:1035px){
  .logo.remove{
    display: none;
  }

  ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 1.6rem;
    margin-right: 0.5rem;
  }

  header li:last-child{
    margin-right:0;
  }

  header li{
    margin:0 1rem;
    padding: 0.3rem;
    box-sizing: border-box;
  }
}

/* Responsive Header up to 780px */
@media only screen and (max-width:780px){
header{
  height: 3rem;
}

  .menuMobile{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin: 0 1rem;
  }

  .remove{
    display: none;
  }
}

/* Main Banner section */
.mainBanner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width:100%;
  background-color:lightgray;
  margin-top: 3rem;
}

.imgContain {
  width: 60%;
  height: auto;
  margin:2rem 0 2rem 2.5rem;
}

.imgContain img{
  max-width: 100%;
  max-height: 100%;
}

.startLearn{
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 7.6%;
  margin-left: 1.5rem;
}

.startLearn h1{
  margin-bottom:2vw;
  font-size: 4.5vw;
}

.startLearn h2{
  font-size: 2.5vw;
  font-family: 'Roboto', sans-serif;
}

.startLearn a{
  color: white;
  font-weight: bold;
}

.startLearn .btn{
  width: 77%;
  text-align: center;
  background-color:rgb(255, 0, 0);
  padding: 1rem 0;
  color:white;
  margin-top: 3vw;
  font-size: 1.3rem;
  transition: all 0.2s;
}

.startLearn .btn:hover{
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* responsive Main Banner section up to 780px */
@media only screen and (max-width:780px){
  .mainBanner{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .imgContain{
    width: 100%;
    margin: 0;
  }

  .startLearn{
    width: 100%;
    margin: 0;
  }

  .startLearn .btn{
    width: 92%;
    margin: 1.8rem auto;
  }

  .startLearn h1{
    font-size: 11vw;
    margin: 2rem 3rem 2rem 4%;
  }

  .startLearn h2{
    font-size: 7vw;
    margin-left: 4%;
    margin-right:3rem;
  }
}

/* responsive Main Banner section up to 480px */
@media only screen and (max-width:480px){
  .startLearn .btn{
    margin-bottom: 2.7rem;
  }
}

/* Campus Information section and also for
video section(Thesis exhibit headline) */
.campusInfo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
}

.subjectInfo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
  padding-left: 2.5rem;
  padding-right: 1.7rem;
  border-right: 1px solid lightgray;
}

.subjectInfo.noBorder{
  border-right:0;
}

.subjectInfo img{
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

.subjectInfo video{
  width: 100%;
  height: auto;
  margin: 0.8rem 0;
}

.subjectInfo h2{
  margin-bottom: 1.5rem;
}

.subjectInfo h3{
  margin-bottom:1rem;
}

.subjectInfo p{
  margin-bottom: 2rem;
}

.subHeads{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 40%;
  margin-top: 1.9rem;
  margin-left: 1.5rem;
  margin-right:1.5rem;
}

.subHead{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
  color: white;
}

.subHead a{
  color: white;
  transition: all 0.1s;
}

.subHead a:hover{
  font-weight: bold;
  font-size:1.175rem;

}

.subHead:nth-child(1){
  background-color: rgb(0, 0, 150);
}

.subHead:nth-child(2){
  background-color: rgb(51, 102, 153);
}

.subHead:nth-child(3){
  background-color: rgb(255, 0, 0);
}

.subImgCont{
  width: 35%;
  height: auto;
}

.subImgCont img{
  width: 100%;
  height: auto;
}

.subInfo{
  width:65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  padding-left:1.7rem;
  margin-right: 0.5rem;
}

.subInfo p{
  margin:1rem 0;
}

/* responsive Campus Information section up to 960px */
@media only screen and (max-width:960px){
  .subImgCont{
    width: 50%;
  }

  .subInfo{
    width: 50%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .subHead{
    padding: 0;
  }

  .subjectInfo{
    width:50%;
  }

  .subHeads{
    width:50%;
  }

  .videoSection .guest{
    margin-bottom:0.5rem;
  }
}

/* responsive Campus Information section up to 780px */
@media only screen and (max-width:780px){
  .campusInfo{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }

  .subHeads{
    width: 100%;
    margin: 1.5rem 0;
    padding: 0 0 0 0.2rem;
  }

  .subImgCont{
    width: 35%;
  }

  .subjectInfo{
    width:100%;
    padding: 0 0 0 0.2rem;
    border-right:0;
  }

  .subInfo{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/* responsive Campus Information section up to 480px */
@media only screen and (max-width:480px){
  .showElementMoblie{
    display: inline-block;
  }

  .removeMobile{
    display: none;
  }

  .subInfo{
    width: 100%;
    padding: 0;
    position: relative;
    left: 0.4rem;
  }

  .subHeads{
    padding: 0;
  }

  .subjectInfo{
    padding: 0;
  }

  .subjectInfo.removeMobile{
    display: none;
  }

  .subHeads.removeMobile{
    display: none;
  }

  .subHead{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2.3rem;
    border: 0;
  }

  .subImgCont{
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .subjectInfo video{
    margin-top: 1.3rem;
  }
}

/* Catolog section */
.learning{
  background-color: lightgray;
}

.catalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5.5%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.course{
  width: 30%;
  margin:32px 1.2%;
  margin:2rem 1.2%;
  color: white;
  transition: all 0.2s;
}

.course:nth-child(odd):hover{
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.course:nth-child(even):hover{
  box-shadow:0 0 20px red, 0 0 5px darkred;
}

.course:nth-child(odd){
  background-color: rgb(0, 0, 150);
}

.course:nth-child(even){
  background-color: rgb(255, 0, 0);
}

.course h3{
  margin-top:1rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.course span{
  display: inline-block;
  margin:0.7rem 0;
  font-size: 1.1rem;
}

.course p{
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom:1.5rem;
}

.course h3,.course span,.course p{
  margin-left: 1rem;
}

.course img{
  width: 100%;
  height: auto;
}

.videoSection .subHead:nth-child(1){
  background-color: rgb(255, 0, 0);
}

.videoSection .subHead:nth-child(2){
  background-color: rgb(0, 0, 150);
}

/* responsive Catolog section up to 960px */
@media only screen and (max-width:960px){
  .course{
    width: 47%;
  }
}

/* responsive Catolog section up to 680px */
@media only screen and (max-width:680px){
  .course{
    width: 80%;
  }

  .catalog{
    margin: 0;
  }
}

/* responsive Catolog section up to 480px */
@media only screen and (max-width:480px){
  .learning{
    background-color: white;
  }

  .learning h1{
    border-top: 1px solid lightgray;
    padding-bottom: 1.5rem;
  }

  .catalog{
    border-bottom: 1px solid lightgray;
  }

  .mobileCatalog a{
    display: block;
    font-size: 1.9rem;
    background-color: lightgray;
    margin-bottom: 0.5rem;
    padding: 1.1rem 2rem ;
    color:white;
    transition: all 0.15s;
  }

  .mobileCatalog a:hover{
    font-weight: 400;
    opacity: 0.9;
  }

  .mobileCatalog a:nth-child(3n+1):hover{
    box-shadow:  0 0 25px rgb(0, 0, 150);
  }

  .mobileCatalog a:nth-child(3n+2):hover{
    box-shadow:  0 0 25px rgb(255, 0, 0);
  }

  .mobileCatalog a:nth-child(3n+3):hover{
    box-shadow:  0 0 25px rgb(51, 102, 153);
  }

  .mobileCatalog a:nth-child(3n+1){
    background-color:rgb(0, 0, 150);
  }

  .mobileCatalog a:nth-child(3n+2){
    background-color:rgb(255, 0, 0);
  }

  .mobileCatalog a:nth-child(3n+3){
    background-color:rgb(51, 102, 153);
  }

  .mobileCatalog a:last-child{
    margin-bottom: 4rem;
  }
}

/* Footer section */
footer{
  height: 5rem;
  border-top: 1px solid lightgray;
}

footer a,footer p{
  display: inline-block;
  margin-top: 1rem;
}

footer a{
  float: right;
  margin: 1rem 1rem;
}

footer p{
  margin-left: 2.5rem;
}

/* responsive Footer section up to 600px */
@media only screen and (max-width:600px){
  footer a{
    display: block;
    clear: both;
  }
}

/* responsive Footer section up to 520px */
@media only screen and (max-width:520px){
  footer{
    text-align: center;
  }

  footer p{
    margin: 0;
    padding-top: 2rem;
  }

  footer .removeMobile{
    display: none;
  }
}
